.button {
    margin-right: 10px;
    margin-bottom: 10px;  
}
.button > button {
    border-radius: 5px;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
    outline: none;
    color: #333;
}
.button > button:focus {
   outline: none;
   border-color: black;
}
.circle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #d1d1d1;
    border-radius: 3px;
    animation: big .5s forwards;
    z-index: 0;
    opacity: .6;
}
.value {
    position: relative;
    z-index: 1;
}
@keyframes big {
    0% {
        transform: scale(0.1)
    }
    100% {
        transform: scale(40)
    }
}